<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hola.css">
    <title>Document</title>
</head>
<body>
    <div class="frame_0" >
        <div class="frame_1" >
          <div class="rectangle_2" ></div>
          <span class="text_3" >
            Network Scanner Table
          </span>
          <div class="frame_4" >
            <span class="text_5" >
              Scan Network
            </span>
            <span class="text_6" >
              Settings
            </span>
            <div class="frame_7" >
              <span class="text_8" >
                Search in site
              </span>
              <div class="frame_9" >
                <img src="blob:null/ac414a2d-a897-4eef-b907-28b375eeaad9"  class="vector_10" ></img>
              </div>
            </div>
          </div>
        </div>
        <div class="frame_11" >
          <div class="frame_12" >
            <span class="text_13" >
              Network Scanner Table
            </span>
            <span class="text_14" >
              Scan the network to view connected devices.
            </span>
            <div class="frame_15" >
              <div class="frame_16" >
                <span class="text_17" >
                  Settings
                </span>
              </div>
              <div class="frame_18" >
                <span class="text_19" >
                  Scan
                </span>
              </div>
            </div>
          </div>
          <div class="frame_20" ></div>
        </div>
        <div class="frame_21" >
          <img src="blob:null/d88a8bb0-8e53-49ab-b196-a40b8b8b331f"  class="vector_22" ></img>
          <div class="frame_23" >
            <span class="text_24" >
              Network Devices
            </span>
            <span class="text_25" >
              List of connected devices on the network
            </span>
          </div>
          <div class="frame_26" >
            <div class="frame_27" >
              <span class="text_28" >
                😊
              </span>
              <div class="frame_29" >
                <span class="text_30" >
                  192.168.1.1
                </span>
                <span class="text_31" >
                  Device 1
                </span>
              </div>
              <span class="text_32" >
                Connected
              </span>
            </div>
            <div class="frame_33" >
              <span class="text_34" >
                😄
              </span>
              <div class="frame_35" >
                <span class="text_36" >
                  192.168.1.2
                </span>
                <span class="text_37" >
                  Device 2
                </span>
              </div>
              <span class="text_38" >
                Connected
              </span>
            </div>
            <div class="frame_39" >
              <span class="text_40" >
                😃
              </span>
              <div class="frame_41" >
                <span class="text_42" >
                  192.168.1.3
                </span>
                <span class="text_43" >
                  Device 3
                </span>
              </div>
              <span class="text_44" >
                Disconnected
              </span>
            </div>
          </div>
        </div>
        <div class="frame_45" >
          <img src="blob:null/df20451a-1f71-4260-9a90-6999650be880"  class="vector_46" ></img>
          <span class="text_47" >
            Copyright © 2022. All Rights Reserved.
          </span>
        </div>
      </div>
    
</body>
</html>